<div class="text_container">
    <div id="title">Wanna Make a Deal?</div>
    <p id="host">
      There are three doors. Behind two doors there are BAD THINGS.<br>
      Behind one door is an AWESOME THING.<br>
      Choose a door...</p>
  </div>

  <div id="door_container">
    <div class="door">
      <a href="make_a_deal_choose_1.html">
        <%= image_tag ("bluedoor.png") %>
      </a>
    </div>
    <div class="door">
      <a href="make_a_deal_choose_2.html">
          <%= image_tag ("greendoor.png") %>
      </a></div>
    <div class="door"><a href="make_a_deal_choose_3.html"><img src="images/green_door.png"></a></div>
  </div>
